<!--================ Banner Area =================-->
<section class="banner_area mb-5">
	<div class="banner_inner d-flex align-items-center">
		<div class="container">
			<div class="banner_content text-left">
				<h2>About Us</h2>
				<div class="page_link">
					<a href="index.html">Home</a>
					<a href="about.html">About</a>
				</div>
			</div>
		</div>
	</div>
</section>
<!--================End Banner Area =================-->

<div class="whole-wrap">
	<div class="container">
		<div class="section-top-border">
			<h3 class="mb-30 title_color text-center text-primary">Vision Statement</h3>
			<div class="row">
				<div class="col-md-12 mt-sm-20 left-align-p">
					<p class="text-center text-secondary">Improving safety, effectiveness, patient centeredness,
						communication, efficiency, and equality.</p>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="whole-wrap">
	<div class="container">
		<div class="section-top-border">
			<h3 class="mb-30 title_color text-center text-primary">Mision Statement</h3>
			<div class="row">
				<div class="col-md-12 mt-sm-20 left-align-p">
					<p class="text-center text-secondary">To improve health data record.</p>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="whole-wrap mb-5">
	<div class="container">
		<div class="section-top-border">
			<h3 class="mb-30 title_color">About us</h3>
			<div class="row">
				<div class="col-md-3">
					<img src="img/d.png" alt="" class="img-fluid">
				</div>
				<div class="col-md-9 mt-sm-20 left-align-p">
					<p>
						We providing accurate, up-to-date, and complete information about patients at the point of care, enabling quick access
						to patient records for more coordinated, efficient care and securely sharing electronic information with patients and
						other clinicians. <br>
						We helping providers more effectively diagnose patients, thereby reducing medical errors, and providing safer care as
						well as Improving patient and provider interaction and communication and health care convenience.
						We make it safer and more reliable for doctors and other medical practitioners to provide prescriptions to patients
						easily. <br>
						Our work in promoting legible, complete documentation and accurate, streamlined coding and billing cannot be
						understated. We also work towards the enhancement of privacy and security of patient data
						Not only does our work help providers improve productivity and work-life balance, we also ensure that we enable
						providers to improve efficiency and meet their business goals which in turn reduces costs drastically through decreased
						paperwork, improved safety, reduced duplication of testing, and improved health.
					</p>
				</div>
			</div>
		</div>
		<div class="section-top-border">
			<h3 class="mb-30 title_color">More stuff you should know</h3>
			<div class="row">
				<div class="col-lg-12">
					<blockquote class="generic-blockquote">
						Health Information Technology &lpar;Health IT&rpar; is a broad term that describes the technology and infrastructure used to
						record, analyze, and share patient health data. Various technologies include health record systems, including personal,
						paper, and electronic; personal health tools including smart devices and apps; and finally, communities to share and
						discuss information. Some of this technology can tell the patient whether they need to go on a diet too, and most of the
						time the golo diet is what they should be doing or they should be taking Gynexin pill for gynecomastia like most men
						should be doing.
						<br>
						The purpose of Health IT is to provide better care for patients and help achieve health equity. Health IT supports
						recording of patient data to improve healthcare delivery and allow for analysis of this information for both healthcare
						practitioners and ministry of health/government agencies. This data is used for the implementation of policies in order
						to better treat and prevent the spread of diseases.
					</blockquote>
				</div>
			</div>
		</div>
	</div>
</div>