<!--================ Banner Area =================-->
<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="container">
            <div class="banner_content text-left">
                <h2>Contact Us</h2>
                <div class="page_link">
                    <a href="index.html">Home</a>
                    <a href="contact.html">Contact Us</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Banner Area =================-->

<!--================Contact Area =================-->
<section class="contact_area p_120">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-3 m-4 p-2 text-center">
                <h5>Mrs. Emejuru, Jane </h5>
                <b>Director of Finance &amp; Administration</b>
                <div class="p-2 text-primary">
                    <i class="lnr lnr-phone-handset"></i> &nbsp; 08089966494
                </div>
            </div>
            <div class="col-3 m-4 p-2 text-center h-100">
                <h5>Dr. Sotunsa, John Obafemi &lbrace;FWCS&rbrace;</h5>
                <b>Director of Clinical Services</b>
                <div class="p-2 text-primary">
                    <i class="lnr lnr-phone-handset"></i> &nbsp; 08089966494
                </div>
            </div>
            <div class="col-3 m-4 p-2 text-center h-100">
                <h5>Mrs. Olajide, Mojisola</h5>
                <b>Director of Nursing Services</b>
                <div class="p-2 text-primary">
                    <i class="lnr lnr-phone-handset"></i> &nbsp; 08089966494
                </div>
            </div>
            <div class="col-3 m-4 p-2 text-center">
                <h5>Cardiology Cardiologist</h5>
                <div class="p-2 text-primary">
                    <i class="lnr lnr-phone-handset"></i> &nbsp; 08089966494
                </div>
            </div>
            <div class="col-3 p-2 m-4 text-center h-100">
                <h5>BUTH Accident &amp; Emergency Unit </b></h5>
                <div class="p-2 text-primary">
                    <i class="lnr lnr-phone-handset"></i> &nbsp; 08089966494
                </div>
            </div>
        </div>
    </div>
</section>
<!--================Contact Area =================-->