<section style="margin-top: 5em">
    <div class="container-fluid">
        <div class="row align-items-center" style="margin-top: 200px; margin-bottom: 200px;">
            <div class="col-lg-4">
                <h3 class="pt-2 pb-3" style="font-size: 5em;">{{category}}</h3>
                <p><b>DEPARTMENTAL HEAD</b></p>
                <h1 class="pt-2 pb-3">{{head}}</h1>
                <a class="main_btn mr-10" href="#">Make appointment &lpar;coming soon&rpar;</a>
            </div>
            <div class="col-lg-8">
                <img src="{{img}}" alt="" style="width: 1200px;" class="img-fluid">
            </div>
        </div>
    </div>
</section>